---
layout: default
title: YETI
cover: 'assets/images/cover3.jpg'
class: 'home-template'
current: home
---
<!-- < default -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

{% if paginator.page == 1 %}
<!-- The big featured header  -->
<header class="full-header main-header {% if page.cover %}"
        style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
    <div class="vertical overlay">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description tagline">{{ site.description }}</h2>
            <br>
            <h2 class="page-description ">
              Meet the <strong>open</strong>, <strong>distributed</strong>, <strong>machine</strong> and <strong>analyst-friendly</strong> threat intelligence repository. Made by and for incident responders.
            </h2>
            <br>
            <h3 class="small">Yes, it's a bear, not a Yeti...</h3>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>



<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">

  {% include menu.html %}

  <!-- <div class="section-header">
    <h1>Your Everyday Threat Intel</h1>
  </div> -->

    <article class="post">

        <section class="post-content">

          <p style="text-align:center;">
            <strong>Quick install</strong> <small style="color:#aaa">(the command we all love)</small><br>
            <code style="white-space: nowrap;">$ curl https://raw.githubusercontent.com/yeti-platform/yeti/master/extras/ubuntu_bootstrap.sh | sudo /bin/bash</code>
          </p>

          <p>
            Yeti is a platform meant to <strong>organize observables</strong>, <strong>indicators of compromise</strong>,
            <strong>TTPs</strong>, and <strong>knowledge on threats</strong> in a single, <strong>unified</strong> repository. Yeti will also
            automatically <strong>enrich</strong> observables (e.g. resolve domains, geolocate IPs) so that
            you don't have to. Yeti provides an interface for humans (shiny Bootstrap-based
            UI) and one for machines (<strong>web API</strong>) so that your other tools can talk nicely to
            it.
          </p>



          <div class="logos">
            <a href="https://github.com/yeti-platform/yeti" target="_blank"><span class="fa fa-github"></span> The code</a>
            <br>
            <br>
            <a href="http://yeti-platform.readthedocs.io/en/latest/" target="_blank"><span class="fa fa-book"></span> The doc</a>
            <br>
            <br>
            <a href="#blog"><span class="fa fa-rss"></span> The blog</a>
          </div>

          <p style="text-align:center;">Learn more about Yeti in our <a href="{{site.baseurl}}introducing-yeti">introductory blogpost</a></p>

          <div class="screenshot">
            <img src="{{site.baseurl}}assets/images/screenshots/yeti_browse.png" alt="Yeti Browse">
            <div class="caption">
              Instantly search through millions of observables
            </div>
          </div>

          <div class="screenshot">
            <img src="{{site.baseurl}}assets/images/screenshots/yeti_campaign.png" alt="Yeti Analytics">
            <div class="caption">
              Easily track campaigns, related observables, malware, actors
            </div>
          </div>

          <div class="screenshot">
            <img src="{{site.baseurl}}assets/images/screenshots/yeti_investigation.png" alt="Yeti Analytics">
            <div class="caption">
              Enrich investigations with relationship graphs
            </div>
          </div>

          <div class="screenshot">
            <img src="{{site.baseurl}}assets/images/screenshots/yeti_feeds.png" alt="Yeti Analytics">
            <div class="caption">
              Easily add new data feeds
            </div>
          </div>

          <div class="screenshot">
            <img src="{{site.baseurl}}assets/images/screenshots/yeti_analytics.png" alt="Yeti Analytics">
            <div class="caption">
              Create custom analytics to automatically enrich observables
            </div>
          </div>

        </section>
    </article>

{% else %}
<main id="content" class="content" role="main">
{% endif %}
  <div class="section-header">
    <h1 id="blog">The Blog</h1>
  </div>
    <!-- The tag below includes the post loop - partials/loop.hbs -->
    {% include loop.html %}
</main>
